@{    
    ViewData["Title"] = "Monthly Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 style="margin-top: 80px">Monthly Report</h2>

@Html.Partial("_ReportFilterPartial")

<div id="reportContainer" style="height: 300px; background-color:#e6f2ff; border-radius: 15px 50px; margin-left:40px ; margin-right:40px">
<h3>Report</h3>
</div>